<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
	</startup>
	<appSettings>
		<add key="tczzymarketing" value="mongodb://tczzymarketing:B9o8(OTP*(P:ftfM*N^B@10.100.157.193:10000,10.100.157.194:10000,10.100.157.192:10000/tczzymarketing?replicaSet=zzymarketing&amp;readPreference=secondary"/>
		<add key="tczzyprice" value="mongodb://tczzyprice:tczzyprice#8@10.100.157.193:10000,10.100.157.194:10000,10.100.157.192:10000/tczzyprice?replicaSet=zzymarketing&amp;readPreference=secondary"/>
	</appSettings>
</configuration>